@media only screen and (max-width: 992px){
    #lead-content {
        position: relative;
        -webkit-transform: none;
        transform: none;
        left: auto;
        top: auto;
    }
}

@media only screen and (max-width: 750px){
    #experience-timeline:before, #experience-timeline:after{left:23px}
    .vtimeline-date{
        width:auto;
        text-align:left;
        position:relative;
        margin-bottom:15px;
        display:block;
        margin-left:70px;
    }
    .vtimeline-icon{
        margin-left:0;
    }
    .vtimeline-content{
        margin-left:70px
    }

}
@media only screen and (max-width: 992px){
    #lead{
        height:auto;
        min-height:auto;
        max-height:auto;
    }
    #lead-content{
        position:relative;
        -webkit-transform:none;
        transform:none;
        left:auto;
        top:auto
    }
    #lead-content h1{
        font-size:3em
    }
    #lead-content h2{
        font-size:1.75em
    }
    #about{
        text-align:center
    }
    #about p{
        text-align:left;
    }
}
@media only screen and (max-width: 768px){
    header{
        position:fixed;
        display:none;
        z-index:999;
        -webkit-animation:none;
        animation:none;
        bottom:0;
        height:100%;
    }
    #mobile-menu-open,#mobile-menu-close{
        display:block;
    }
    /*#menu{
        height:100%;
        overflow-y:auto;
        box-shadow:none;
        border-radius:0;
        width:100%
    }
    #menu li{
        display:block;
        margin-bottom:10px;
    }*/
    #lead-content h1{
        font-size:2em;
    }
    #lead-content h2{
        font-size:1.3em;
    }
    #lead-content a{
        padding:10px 20px;
    }
    #side-nav-open{
        display:none;
    }
    .education-block h3,.education-block span{
        float:none;
    }
    .project-image{
        display:none;
    }
    .project-info{
        position:relative;
        margin:0;
        top:auto;
        -webkit-transform:none;
        transform:none;
    }
    footer{
        text-align:center;
    }
    .social{
        text-align:center;
        }
}
@media only screen and (max-width: 480px){
    #lead-content h1{
        font-size:1.5em
    }
    #lead-content h2{
        font-size:1em;
    }
    /*#lead-content a{
        font-size:0.9em;
        padding:5px 10px
    }*/
}
