/*
    -------------------------------
    ----- 8. Project Page Styles -----
    -------------------------------
*/
$main: rgba(22,160,133,0.8);//#16a085
$main-light: rgba(165, 243, 227, 0.5);//#8ff0dc #a5f3e3
$secondary: #a01631;

.navbar-custom{
    background-color: $main;
    //border: 2px solid red;
}

.round-me{
    border-radius: 15px;
}

.pad-me {
    margin-top: 8px;
}

.content-container{
    width: 100%;
    //border: 2px solid red;
    background-color: $main-light;
    margin-left:100px;
}

.no-vert-margin{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.video-container {
    width: 100%;
    position: relative;
    padding: 25px 0 56.25%;
    height: 0;
}
.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body {
    margin-top: 30px;
    margin-bottom: 30px;
}

.gobackbutton {
     line-height: 12px;
     width: 18px;
     font-family: tahoma;
     position:absolute;
     top:30px;
     right:40px;
 }