$main: rgba(22,160,133,0.8);//#16a085;
$main-darker: rgba(16,115,96, 0.8); //rgb(16,115,96) //#107360
$compCol1: #a01631;
$comptCol2: #1676a0;
$compColDark: #731023;
$background: #fff;
$background-alt: #f2f2f5;
$base-color: #3498db;
$base-color-hover: darken($base-color, 10%);
$border: #dcd9d9;

// Define text colors
$heading: #374054;
$text: #74808a;